## This file is part of Whonix.
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

[Unit]
Description=Encrypted Swap File Creator
Documentation=https://github.com/Whonix/swap-file-creator
Wants=haveged.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/share/swap-file-creator/start
ExecStop=/usr/share/swap-file-creator/stop
## For better look and feel.
StandardOutput=tty

[Install]
WantedBy=multi-user.target
