## Copyright (C) 2012 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@kicksecure.com>
## See the file COPYING for copying conditions.

Source: swap-file-creator
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@kicksecure.com>
Build-Depends: debhelper (>= 13.11.6), debhelper-compat (= 13)
Homepage: https://www.kicksecure.com/wiki/Swap-file-creator
Vcs-Browser: https://github.com/Kicksecure/swap-file-creator
Vcs-Git: https://github.com/Kicksecure/swap-file-creator.git
Standards-Version: 4.7.2
Rules-Requires-Root: no

Package: swap-file-creator
Architecture: all
Depends: helper-scripts, cryptsetup-bin, bc, systemd-cryptsetup,
 ${misc:Depends}
Recommends: haveged, jitterentropy-rngd
Description: Adds encrypted swap file to the system
 On every boot, creates a new encrypted swapfile with a random key.
 .
 Useful for systems with low RAM such as inside virtual machines.
 .
 Has an option to shred the swapfile on shutdown.
