## Copyright (C) 2012 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@kicksecure.com>
## See the file COPYING for copying conditions.

Source: swap-file-creator
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@kicksecure.com>
Build-Depends: debhelper (>= 13.11.6), debhelper-compat (= 13)
Homepage: https://www.kicksecure.com/wiki/Swap-file-creator
Vcs-Browser: https://github.com/Kicksecure/swap-file-creator
Vcs-Git: https://github.com/Kicksecure/swap-file-creator.git
Standards-Version: 4.7.2
Rules-Requires-Root: no

Package: swap-file-creator
Architecture: all
Depends: helper-scripts, bc, safe-rm,
 ${misc:Depends}
## Recommends: haveged, jitterentropy-rngd
Description: Swap file creator for LUKS-encrypted systems
 swap-file-creator automatically creates and enables a swap file on
 systems using LUKS full-disk encryption. A new swap file is created on
 every boot if the target path resides on a LUKS-encrypted device.
 .
 By default, no swap file is created on unencrypted disks. This can be
 optionally overridden (not recommended for privacy), allowing swap-file-
 creator to operate on unencrypted storage as well.
 .
 The tool is particularly useful for systems with low RAM, such as virtual
 machines, where lack of swap may cause freezing during upgrades or heavy
 memory operations.
 .
 The swap file can be shredded on shutdown for additional privacy, if
 enabled. Various parameters, including file path, custom size, and
 pre-checks, can be configured through /etc/default/swap-file-creator.
 .
 Earlier versions provided an additional dm-crypt layer and created a
 swap file encrypted with an ephemeral key. Due to a Linux kernel bug,
 this functionality is no longer possible as of Debian trixie, and the
 swap file is instead placed directly on top of LUKS full-disk
 encryption. More details:
 https://lore.kernel.org/lkml/20251111231835.1232ad8f@kf-m2g5/T/#u
